html body{
  width: 1349px;
  font-family: "微软雅黑";
}
header{
  width: 100%;
  height: 108px;
  background: #ccc;
}
header img{
  margin-top: 28px;
  margin-left: 220px;
}
section{
  width: 100%;
  height: 560px;
  background: #3793f5;
}
section .banner{
  width:
}
